:root {
    --logo-height: 60px;
    --header-height: 80px;
    --aside-width: 180px;
    --footer-height: 50px;
}

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows:
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas:
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: top-menu;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}