aside.top-menu {
    background-color: #33FFB5;
    box-shadow: 2px 0 10px 0;
}

.menu a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    background: linear-gradient(135deg, #80CDB1 0%, #80CDBF 100%);
}